<!-- <p>Welcome To {{name}}</p>

<p>
    {{"Welcome To: " + name}}
</p>

<p>{{name.length}}</p>

<p>{{name.toUpperCase()}}</p>

<p>{{userName()}}</p>

<p>{{myurl}}</p> -->

<div>{{"My Name Is "+name}}
  <input [id]="myId" type="text" value="Ganesh"> 
  <button type="button"(click)="click()">Click Here</button> 
  <input [disabled]="IsSubmit" type="text" [value]="myId"> </div>

  <!-- <p [class.first-class]="IsSubmit" (click)="colorChange()">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p> -->
  <p [ngClass]="firstClass">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
  <!-- <p   *ngIf="IsSubmit">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p> -->

  <h2 [style.color]="IsSubmit ? 'red' : 'green'">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h2>
  <h2 [ngStyle]="style">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h2>
  <input #mytext type="text">
  <button (click)="mylog(mytext)">log</button>

  <input [(ngModel)]="namee" type="text">Enter name
  <label>{{namee}}</label>
  