// p{
//     text-align: center;
//     font-size: 30px;
//     color: blue;
// }
div{
    text-align: center;
    color: green;
}
.first-class{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: red;
}
.first1-class{
    font-weight: bold;
    font-style: italic;
    // color: rgb(238, 11, 151);
}
.first2-class{
    font-weight: bold;
    font-style: italic;
    color: green;
}